/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@500&family=Comfortaa:wght@500&family=Exo+2&family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=Noto+Serif&family=Yanone+Kaffeesatz:wght@500&display=swap');


/* Elements */
*{
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: #464655;
}
body {
  margin: 0;
  padding:0;
  text-align: center;
  background-color: #f3dad8;
}

h1{
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  line-height: 2;
}
#page-container{
position: relative;
min-height:100vh;
}

#content-wrap{
  padding-bottom:30px;
}
.container{
  margin:60px 20%;
}
@media(max-width:500px){
  .container{
    margin:30px 10%;
  }
}

/* Navbar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3dad8;
  background-color: #464655;
}
.nav-header img {
  height: 30px;
  padding:2px;
  margin:5px 20px;
}
.nav-header img:hover{
  opacity: .5;
}
.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {
  list-style: none;
  }
.nav-links li a{
  display: block;
  color: #f3dad8;
  text-decoration: none;
  padding: 1rem;
}
a.active-link{
font-weight: bold;
}
.nav-links li a:hover{
  color: #f3dad899;
}
.toggle{
  display: none;
  position: absolute;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width:25px;
  height:20px;
}
.toggle .bar{
  height: 3.5px;
  width:100%;
  background-color: #f3dad8;
  border-radius: 10px;
}
@media (max-width:500px){
  .toggle{
    display: flex;
  }
  .nav-links{
    display: none;
    width: 100%;
  }
  .nav{
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul{
    flex-direction: column;
    width: 100%;
    }
  .nav-links li a{
    padding: .5rem 1rem;
  }
  .nav-links li a:hover{
      color: #f3dad8;
      background-color: #f3dad822;
    }
  .nav-links.active{
    display: flex;
  }
}
/* First Container */
.first-container {
  background-image: url("images/jzp.png");
  background-size: cover;
  background-position: center;
  }
.title {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  text-align: right;
}
.conversational{
  letter-spacing: .4rem;
}
.english{
  font-size: 7.7rem;
  letter-spacing: 1rem;
  }
.in-prague{
  font-size: 3rem;
  letter-spacing: .2rem;
}
@media(max-width:980px) {
.title{
  height: 500px;
}
}
@media(max-width:500px){
  .title {
    height: 350px;
  }
  .conversational{
    font-size: 2.2rem
  }
  .english{
    font-size: 4.6rem;
  }
  .in-prague{
  font-size:1.8rem;
  }
}
/* index page content */
.no-margin{
  margin:0;
}
.icons {
padding: 60px 0 120px;
display: grid;
grid-template-columns: 20% 20% 20% 20%;
grid-gap: 6.666%
}
.icons p{
  font-weight: lighter;
}
.icons i {
  font-size: 3rem;
}
@media(max-width:980px) {
.icons{
  grid-template-columns: 48% 48%;
  grid-gap: 4%
}
.icons p{
  font-size: .8rem;
}
.icons i {
  font-size: 2rem;
}
}
@media(max-width:500px){
  .icons{
    padding-bottom: 60px;
  }
}
/* pages */
h2.page-header{
  padding: 1rem;
}
@media(max-width:500px){
  h2.page-header{
    padding: 2rem 0 1rem;
    font-size: 2rem;
  }
}
/* contact page*/
#whatsapp-btn{
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding:0;
}
.contact-icon{
  font-size: 3rem;
  padding: 0 .5rem;
  margin-bottom: 26.5px;
}
.whatsapp-icon{
  font-size: 3rem;
  padding: 0 .5rem;
  }
#copy{
  margin:0;
  font-size: .5rem;
  }
.pink{
  color:#f3dad8;
}
.grey{
  color: #464655B0;
}
.copy-div{
  text-align: center;
  width:58px;
  height:26.5px;
  padding: 0 .5rem;
}
#contact-form{
  flex-direction: column;
  width:400px;
  margin: 20px auto;
}
#contact-result-div{
  background-color: #464655;
  border-radius: 3px;
  flex-direction: column;
  width:400px;
  margin: 60px auto;
  }
#contact-form-result, #contact-result-div i{
  color: #f3dad8;
}
#contact-result-div i{
  font-size: 2rem;
  padding-top:16px;
}

.form{
  margin: 5px 0;
  background-color: inherit;
  padding: 5px;
}
.form-btn {
  width:50%;
  margin: 30px auto;
  background-color: #464655;
  color: #f3dad8;
  padding: 10px;
}
.form, .form-btn{
  border: solid 1px #464655;
  border-radius: 3px;
}
.form-btn:hover {
  background-color: #464655C0;
}
select{
  color:grey;
}
.dim{
  color:grey;
}
option{
  color:black;
}
@media(max-width:500px){
  #contact-form, #contact-result-div{
    width:300px;
  }
  }
.hide{
  display:none;
}
.show{
  display: flex;
}
/* Footer */
footer {
  position:absolute;
  bottom:0;
  height: 30px;
  width:100%;
  background-color: #464655;
}
